/* style.css */ 

/* Page background */
body {
    background-image: url(background.gif) ;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

/* Main title formatting */ 
.main.header {
    color: orange;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

/* Recipe link formatting */
.link {
    display:block;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgoldenrodyellow;
}

.link:hover{
    color: lightcoral;
} 

.descriptor{
    margin-bottom: 5px;
    padding: 1px;
    content: solid black;
    display: block;
    text-align: center;
    color: lightgoldenrodyellow;
    outline: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgba(0,0,0, 0.6);
}
