/* style.css */ 

/* Page background */
* {
    background-image: url(vaporbg2.jpg) ;
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}

/* Main flexbox formatting */ 
.main {
    display: flex;
}

.leftinfo {
    flex: 33.33%;
    flex-wrap: wrap;
}

.rightinfo {
    flex: 33.33%;
    flex-wrap: wrap;
}

.centerinfo {
    flex: 33.33%;
    flex-wrap: wrap;
}

/* Main title formatting */ 
.header {
    color: cornflowerblue;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
   # background:url(header.jpg)
}

/* Album title formatting */
.title {
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgoldenrodyellow;
    text-decoration: underline;
}

/* Album video formatting */
iframe.center {
 align-items: center;
}

/* Album description formatting */
.bio{
    text-align: center;
    color: lightgoldenrodyellow;
}
